@media screen and (max-width:768px) {
    main {
        padding: 0 !important;
        padding-top: 10px !important;
        row-gap: 0px !important;
    }
    .winnerAlert {
        padding: 1rem;
    }
}

@media screen and (max-width: 550px) {
    main {
        padding: 0 !important;
        padding-top: 10px !important;
        row-gap: 0px !important;
        margin: 0;
    }

    .winnerAlert {
        width: 60%;
        left: 20%;
    }
}