* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

h1 {
    text-align: center;
    padding: 1rem 0;
}

main {
    background-color: brown;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 7rem 12rem;
    column-gap: 3px;
    row-gap: 3px;
}

.square {
    width: 25%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}

.notif {
    position: absolute;
    top: 15%;
    left: 0;
    background-color: burlywood;
    padding: 1rem;
    border-radius: 4px;
    width: 190px;
    display: none;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    color: rgb(187, 0, 0);
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}